
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;700&family=Quicksand:wght@300;400;500;700&display=swap');
p{
    font-family: Monrope ;
}
.article_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: #f5f5f5; */
    /* padding: 20px; */
    /* border-radius: 5px; */
    /* margin-bottom: 20px; */
}
.article_social{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
}
.article_social_icons{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 100px;
}
