.article_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    gap: 10px;
    border: 5px solid #c41e1e;
}
.article_text{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ededed;
}
.article_social{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
}
.article_social_icons{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 100px;
}
