.headerContainer {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #454b65;
    padding: 0 10px 0 0;

}
.headerLink{
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    display: flex;
    padding: 0 50px 0 0;


}

.headerLink ul {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
}

.headerLink li {
    width: 100px;
    height: 100px;
    text-decoration: none;
    list-style: none;
    border: 1px solid #31da5e;    
}

.headerLink li p {
    color: white;
    font-size: 2rem;
}